@mixin flex($dir, $jc, $ai) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
:root {
    --iconSize: 3.5rem;
    --br: 0.5rem;
    --br_w: 1.5rem;
    --white: hsl(0, 0%, 100%);
    --white_off: hsl(0, 0%, 95%);
    --black: hsl(0, 0%, 0%);
    --black_off: hsl(0, 0%, 5%);

    --cyan: cyan;
    --cyan_t: rgba(140, 253, 234, 0.733);
    --cyan_st: rgba(140, 250, 230, 0.85);
    --color_base: var(--cyan_t);
    --border_color: var(--cyan_st);
}
[color-scheme="dark"] {
    --bg: var(--black);
    --tc: var(--white_off);
    --bg_t: rgba(34, 34, 34, 0.6);
    --text_color: var(--white_off);
    --text_color_contrast: var(--black_off);
}
[color-scheme="light"] {
    --bg: var(--white);
    --tc: var(--black_off);
    --bg_t: rgba(235, 235, 235, 0.6);
    --text_color: var(--black_off);
    --text_color_contrast: var(--white_off);
}

:root {
    font-size: 12px;
    letter-spacing: 0.15rem;
    scroll-behavior: smooth;
}
*,
*::after,
*::before,
* *,
* *::after,
* *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text_color);
}

BODY {
    width: 100%;
    min-height: 100svh;
    background: var(--bg);
    color: var(--tc);
}
IMG {
    display: inline-block;
    height: 100%;
    width: auto;
    object-fit: cover;
}
A,
SPAN {
    display: block;
}
A {
    background: none;
    text-decoration: none;
    color: inherit;
}
A:visited,
A:focus,
A:active {
    color: inherit;
}
H1 {
    font-size: 2.2rem;
    font-weight: 600;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
}
UL {
    list-style: none;
}
INPUT {
    background: none;
    border: none;
}
BUTTON {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}
SVG {
    width: 100%;
    height: 100%;
    @include flexCenter();
    fill: var(--tc);
}
SELECT {
    background: var(--bg_t);
    border: solid var(--text_color) 1px;
    padding: 1rem 2rem;
}
OPTION {
    background: var(--bg_t);
    &:checked {
        background: darkslateblue;
    }
    &:hover {
        background: var(--color_base);
    }
}
.data_display {
    font-size: 2rem;
}
.nav {
    position: fixed;
    top: 1rem;
    width: fit-content;
    z-index: 5;
    BUTTON {
        background: var(--bg_t);
    }
}
.menu_control {
    width: fit-content;
}
.menu_container {
    @include flex(column, center, center);
}
.nav_menu {
    left: 1rem;
}
.nav_extras {
    right: 1rem;
    @include flexCenter();
}
.icon_container {
    width: var(--iconSize);
    height: var(--iconSize);
    @include flexCenter();
    padding: 0.5rem;
}
.window {
    flex-direction: column;
    align-items: center;
}
.form {
    @include flexCenter();
}
.input_control {
    @include flex(row, space-between, center);
    gap: 0.5rem;
    background: var(--bg_t);
    padding: 0 1rem;
    border-radius: var(--br_w);
}
.cards_container {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;

    gap: 1rem;
    width: 100%;
}
.img_holder {
    border-radius: 50%;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
}
.card {
    width: 100%;
    height: 20rem;
    border-radius: var(--br);
    overflow: hidden;
    background: var(--bg_t);
}
.btn {
    width: 100%;
    padding: 1rem;
    background: var(--color_base);
    border-radius: var(--br);
}
.item_card {
    @include flex(row, space-between, flex-start);
    max-width: 30rem;
    IMG {
        max-width: 15rem;
        border-radius: var(--br);
    }
    .card_content {
        height: 100%;
        padding: 1rem;

        SPAN {
            IMG {
                height: 2rem;
            }
        }
    }
}
MAIN {
    height: 100vh;
}
SECTION {
    height: 100%;
}
.section_content {
    @include flex(column, flex-start, center);
    padding: 2rem;
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
}
.inventario {
    .data_display {
        SVG {
            fill: var(--color_base);
        }
        .result {
            color: var(--color_base);
        }
    }
}
.img_container {
    position: relative;
    height: 50vh;
    width: 100%;
    background: linear-gradient(transparent, var(--bg));
    overflow: hidden;
    IMG {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}
SPAN {
    display: inline-block;
}
.float {
    position: absolute;
}
[visible] {
    transition: opacity 500ms ease-in-out;
}
[show="false"] {
    display: none !important;
}
[visible="false"] {
    opacity: 0 !important;
}
[show="true"] {
    display: flex !important;
}
[visible="true"] {
    opacity: 100% !important;
}
.reader {
    width: 100%;
    height: 100%;
}
