@mixin flex($dir, $jc, $ai) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
:root {
    --iconSize: 3.5rem;
    --br: 0.5rem;
    --br_w: 1.5rem;
    --white: hsl(0, 0%, 100%);
    --white_off: hsl(0, 0%, 95%);
    --black: hsl(0, 0%, 0%);
    --black_off: hsl(0, 0%, 5%);

    --cyan: cyan;
    --cyan_t: rgba(140, 253, 234, 0.733);
    --cyan_st: rgba(140, 250, 230, 0.85);
    --color_base: var(--cyan_t);
    --border_color: var(--cyan_st);
}
[color-scheme="dark"] {
    --bg: var(--black);
    --tc: var(--white_off);
    --bg_t: rgba(34, 34, 34, 0.8);
    --text_color: var(--white_off);
    --text_color_contrast: var(--black_off);
}
[color-scheme="light"] {
    --bg: var(--white);
    --tc: var(--black_off);
    --bg_t: rgba(235, 235, 235, 0.6);
    --text_color: var(--black_off);
    --text_color_contrast: var(--white_off);
}

:root {
    font-size: 12px;
    letter-spacing: 0.15rem;
    scroll-behavior: smooth;
}
*,
*::after,
*::before,
* *,
* *::after,
* *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text_color);
}

BODY {
    width: 100%;
    min-height: 100svh;
    background: var(--bg);
    color: var(--tc);
}
IMG {
    display: inline-block;
    height: 100%;
    width: auto;
    object-fit: cover;
}
A,
SPAN {
    display: block;
}
A {
    background: none;
    text-decoration: none;
    color: inherit;
}
A:visited,
A:focus,
A:active {
    color: inherit;
}
H1 {
    font-size: 1.6rem;
    font-weight: 600;
}
h2 {
    font-size: 1.4rem;
    font-weight: 600;
}
UL {
    list-style: none;
}
INPUT {
    background: none;
    border: none;
}
BUTTON {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}
SVG {
    width: 100%;
    height: 100%;
    @include flexCenter();
    fill: var(--tc);
}
SELECT {
    background: var(--bg_t);
    border: solid var(--text_color) 1px;
    padding: 1rem 2rem;
}
OPTION {
    background: var(--bg_t);
    &:checked {
        background: darkslateblue;
    }
    &:hover {
        background: var(--color_base);
    }
}
.data_display {
    font-size: 2rem;
}

[submenu-btn] {
    position: relative;
    [count] {
        position: absolute;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
        background: var(--color_base);
        color: var(--white_off);
        font-size: 1rem;
        @include flexCenter();
        padding: 0.5rem 2rem;
        border-radius: var(--br);
    }
}
.basic_btn {
    border-radius: var(--br);
    background: var(--bg_t);
    padding: 0.5rem 2rem;
    text-align: center;
    @include flexCenter;
    width: 100%;
}

.nav {
    position: fixed;
    top: 0;
    width: fit-content;
    padding: 1rem 2rem;
    z-index: 5;
    width: 100%;
    left: 0;
    right: 0;
    background: var(--bg_t);
    @include flex(row, space-between, center);
    BUTTON:not([search-btn]) {
        background: var(--bg_t);
        border-radius: var(--br);
    }
    .menu_control {
        @include flexCenter();
    }
}
.menu_control {
    width: fit-content;
    @include flex(row, center, center);
    gap: 0.5rem;
}
.menu_container {
    @include flex(column, center, center);
    gap: 0.25rem;
    position: absolute;
    top: calc(100% + 1rem);
}

.icon_container {
    width: var(--iconSize);
    height: var(--iconSize);
    @include flexCenter();
    padding: 0.5rem;
}
.window {
    flex-direction: column;
    align-items: center;
}
.form {
    @include flexCenter();
    width: 100%;
}
.input_control {
    @include flex(row, space-between, center);
    gap: 0.5rem;
    background: var(--bg_t);
    padding: 0 1rem;
    border-radius: var(--br);
    width: 100%;
    max-width: 600px;
    BUTTON {
        background: none;
    }
}
.cards_container {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding-top: 2rem;
}
.img_holder {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    IMG {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.card {
    border-radius: var(--br);
    overflow: hidden;
    background: var(--bg_t);
    width: 100%;
    max-width: 30rem;
    H2,
    p {
        SPAN {
            color: var(--color_base);
        }
    }

    IMG {
        max-width: 15rem;
        border-radius: var(--br);
    }
    .card_content {
        height: 100%;
        padding: 1rem;
        @include flex(column, space-between, center);
        gap: 0.5rem;
        .editorial_image {
            width: 100%;
            IMG {
                float: right;
                height: 2rem;
            }
        }
    }
}
.edition_card {
    @include flex(row, space-between, flex-start);
    position: relative;
    height: 22rem;
    .save_btn {
        position: absolute;
        top: 1rem;
        left: 1rem;
        SVG {
            fill: var(--white_off);
        }
    }
}
.pills_container {
    @include flexCenter();
    gap: 0.5rem;
}
.pill {
    @include flex(column, flex-start, center);
    max-width: 10rem;
    IMG {
        max-width: 9rem;
        border-radius: var(--br);
    }
    .pill_content {
        height: 100%;
        padding: 1rem;
        @include flex(column, center, center);
        gap: 0.5rem;
    }
}
.edition_result {
    width: 100%;
    max-width: 40rem;
    @include flexCenter();
    flex-direction: column;
    h2 {
        color: var(--color_base);
    }
}

.btn {
    width: 100%;
    padding: 1rem;
    background: var(--color_base);
    border-radius: var(--br);
}
.btns_container {
    @include flex(row, space-evenly, center);
    border-top: solid 2px var(--color_base);
    border-bottom: solid 2px var(--color_base);
    width: 100%;
    BUTTON {
        padding: 1rem 0;
        width: 100%;
    }
}
.content {
    padding: 1rem 0.5rem;
    @include flex(column, flex-start, flex-start);
    gap: 1rem;
    h1 {
        width: 100%;
        text-align: center;
    }
}
DIALOG {
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border-radius: var(--br);
    background: var(--bg_t);
    padding: 0.5rem 1rem;
    width: 95%;
    max-width: 600px;
}
dialog::backdrop {
    background-color: var(--bg_t);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

MAIN {
    height: 100vh;
}
SECTION {
    .section_content {
        --navHeight: 6rem;
        margin-top: var(--navHeight);
    }
}

.section_content {
    @include flex(column, flex-start, center);
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
}
.inventario {
    .data_display {
        SVG {
            fill: var(--color_base);
        }
        .result {
            color: var(--color_base);
        }
    }
}
.img_container {
    position: relative;
    height: 40rem;
    max-height: 50vh;
    width: 100%;
    overflow: hidden;
    IMG {
        position: absolute;
        height: 100%;
        width: 100%;

        object-fit: contain;
    }
}
SPAN {
    display: inline-block;
}
.float {
    position: absolute;
}
[visible] {
    transition: opacity 500ms ease-in-out;
}
[show="false"] {
    display: none !important;
}
[visible="false"] {
    opacity: 0 !important;
}
[show="true"] {
    display: flex !important;
}
[visible="true"] {
    opacity: 100% !important;
}
.reader {
    width: 100%;
    height: 100%;
}
[btn-active="true"] {
    background: var(--color_base);
}
[btn-active="false"] {
    background: var(--bg);
}

[accent="bad"] {
    border: crimson 2px solid;
    background: rgba(245, 33, 75, 0.4);
}
[accent="bad"] {
    --btnBG: hsl(0, 100%, 67%, 0.7);
    --btnText: hsl(0, 100%, 67%);
    --btnBorder: solid 1px hsl(0, 100%, 67%);
}
[accent="good"] {
    --btnBG: hsl(166, 100%, 37%, 0.7);
    --btnText: hsl(166, 100%, 37%);
    --btnBorder: solid 1px hsl(166, 100%, 37%);
}
[accent="warning"] {
    --btnBG: hsl(43, 100%, 51%, 0.7);
    --btnText: hsl(43, 100%, 51%);
    --btnBorder: solid 1px hsl(43, 100%, 51%);
}
[accent="basic"] {
    --btnBG: hsl(192, 70%, 43%, 0.7);
    --btnText: hsl(192, 70%, 43%);
    --btnBorder: solid 1px hsl(192, 70%, 43%);
}
[accent] {
    border: var(--btnBorder);
    background: var(--btnBG);
    color: var(--btnText);
}
